textarea {
  width: 100%;
  height:25vh;
  padding: 1rem;
}

#tweets {
	margin-top: 2rem;
}

#tweets ul {
  padding-left: 0;
}

#tweets li {
  list-style: none;
  display: table;
  width: 100%;
  margin-bottom: 2rem;
  position: relative;
  overflow: hidden;
  min-height: 8.7rem;
}

#tweets h1 {
  position: absolute;
  font-size: 12rem;
  top: -4.6rem;
  left: -0.4rem;
  opacity: .2;
}

.checkbox {
  margin-left: 2rem;
}

@media screen and (min-width: 991px) {
  #tweets {
    margin-top: 14rem;
  }
}